/* Início do Código */

.page {
    background-color: rgb(209, 196, 169);
}

body {
    margin: 0;
}

.texts {
    font-size: 20px;
    font-family: sans-serif;
}



/* INÍCIO CLASSES E IDS DO MENU */

.container-menu {
    border-bottom: 3px solid black;
    background-color: rgb(145, 117, 84);
    display: flex;
    justify-content: space-between;
}

.main-menu-1 {
    width: 30%;
}

#tittle {
    font-family: 'Alkalami', serif;
    font-family: 'MedievalSharp', cursive;  
    font-weight: bold;
    font-size: 40px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 10px;
}

#icon-menu {
    height: 50px; 
    width: 50px; 
    display: inline-block;
    position: relative;
}

.main-menu-2 {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 200px;
    
}

.menu-4 {
    padding: 0 40px;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: -5px;
}

/* FIM CLASSES E IDS DO MENU */

/* INICIO CONTEUDO DO MEIO */

.container-mid {
    display: flex;
    padding-bottom: 20px;
}

.box {
    width: 25%;
    position: relative;
}

.box-mid {
    width: 75%;
}

.box-list-left {
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    width: 170px;
    padding: 10px;
    position: relative;
}

.box-list-left-2 {
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    width: 170px;
    padding: 10px;
    position: relative;
    top: -80px;
}

#navigate-left {
    display: flex;
    justify-content: center;
    background-color: rgb(145, 117, 84) ;
    font-weight: bold;
}

.classes {
    position: relative;
    top: -15px;
    text-decoration: none;
    color: black;
}

.racas {
    position: relative;
    top: -15px;
    text-decoration: none;
    color: black;
}

.box-list-right {
    border: 2px solid rgb(0, 0, 0);
    width: 305px;
    margin-left: 90px;
    float: right;
}

.box2-list-right {
    padding: 20px;
}

#navigate-right {
    display: flex;
    justify-content: center;
    background-color: rgb(145, 117, 84) ;
    font-weight: bold;
}

.box-list-mid {
    border: 3px solid rgb(82, 65, 47);
    padding: 20px;
    background-color: rgb(145, 117, 84);
    height: 800px;
}


#icon-d20 {
    height: 60px;
    width: 70px;
    position: relative;
    right: -470px;
    top: -70px;
}

#text-wiki {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: 5%;
    position: relative;
    left: -75px;
}

#text-dnd {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: 5%;
}

#img-dnd {
    position: relative;
    bottom: 330px;
    width: 40%;
}

.icons-classes {
    height: 50px;
    width: 50px;
}

.icons-racas {
    height: 50px;
    width: 50px; 
}

#mapa-img {
    width: 400px;
    height: 360px;
    float: right;
}

/* FIM DO CONTEUDO DO MEIO */

/* INICIO DO CONTEUDO DE BAIXO */

.container-bottom {
    display: flex;
    justify-content: center;
}

.tittle-books {
    position: relative;
    display: flex;
    justify-content: center;
}

#font-t-books {
    font-size: 20px;
    font-family: sans-serif;
}

.content-1 {
    border: 2px solid black;
    display: flex;
    margin-left: 60px;
}

.books-list {
    padding: 10px;
}

.books-imgs {
    width: 150px;
    height: 200px;
}

.books-names {
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: black;
}


.content-2 {
    border: 2px solid black;
    display: flex;
    margin-left: 60px;
}

.books-list-2 {
    padding: 10px;
}

.books-imgs-2 {
    width: 150px;
    height: 200px;
}

.books-names-2 {
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: black;
}



/* FIM DO CONTEUDO DE BAIXO */


@media (max-width:1589px) {
    .box-list-left-2 {
        top: 0; 
    }
}

@media (max-width:1500px) {
    .container-bottom {
        flex-direction: column;
    }
    .content-1 {
        justify-content: space-around;
    }
    .content-2 {
        justify-content: space-around;
    }
}